ion-content.login {

    ion-toolbar {
        --padding-bottom: 5%;
        
        .welcome h1 {
            font-size: 35px;
            font-style: normal;
            font-weight: 700;
            line-height: 130%;
            b {
                color: #35c2c1;
            }
        }
    }

    ion-item:nth-child(n+2) {
        margin-top: 13px;
    }

    a {
    color: #6a707c;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
    }

    .hr {
        position: relative;
        height: 30px;
        margin-top: 20px;

        div {
            position: absolute;
            right: calc(50% - 53.5px);
            top: -10px;
            background-color: white;
            padding: 0 15px;

            color: #6a707c;
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
        }

        hr {
            border: 1px solid #e8ecf4;
            margin: 0;
            border-radius: 15px;
            background-color: #e8ecf4;
        }
    }

    ion-button {
        --border-radius: 8px !important;
        --padding-top: 10px !important;
        --padding-bottom: 10px !important;
    }

    .login-buttons {
        ion-button:nth-child(n+2) {
            margin-left: 3%;
        }
        ion-button {
            border-radius: 8px;
            border: 1px solid #e8ecf4;
            height: 100%;
            width: 33%;

            ion-buttons {
                ion-icon:before {
                    font-style: 50px !important;
                    color: #6a707c;
                }
            }
        }
    }

    ion-item.text-register {
        position: absolute;
        margin-left: 18%;

       a {
        margin-left: 4px;
        color: #35c2c1;
        cursor: pointer;
        }
    }

    ion-item.voltar
     {
        ion-button {
        --padding-right: 100px;
        --padding-height: 10px;
        }
    
    }
}

ion-item {
    div {
        width: 100%;
    }
    
    p {
        color: rgb(188, 0, 0);
        padding: 0 16px;
    }
    
    .error {
        border: solid 2px rgb(188, 0, 0) !important;
    }
}


