<ion-content class="login">
  <ion-toolbar>

    <ion-item class="voltar" href="/login">
      <ion-button fill="outline">
        <svg width="11" height="19" viewBox="0 0 11 19" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M10.4159 1.33369C10.3105 1.22792 10.1853 1.14399 10.0474 1.08673C9.90954 1.02947 9.76175 1 9.61249 1C9.46324 1 9.31545 1.02947 9.17759 1.08673C9.03973 1.14399 8.91451 1.22792 8.80911 1.33369L1.26547 8.88467C1.18132 8.96873 1.11456 9.06859 1.069 9.17851C1.02345 9.28843 1 9.40627 1 9.52528C1 9.64428 1.02345 9.76212 1.069 9.87204C1.11456 9.98197 1.18132 10.0818 1.26547 10.1659L8.80911 17.7169C9.25392 18.1621 9.97106 18.1621 10.4159 17.7169C10.8607 17.2716 10.8607 16.5538 10.4159 16.1085L3.84356 9.52073L10.425 2.93294C10.8607 2.49678 10.8607 1.76985 10.4159 1.33369Z" fill="#1E232C" stroke="#1E232C" stroke-width="0.2"/>
          </svg>      
      </ion-button>  
    </ion-item>

    <ion-text class="welcome">
      <h1>Esqueceu a <b>Senha?</b></h1>
    </ion-text>

    <ion-item>
      <p class="text-gray">Não se preocupe! Insira o endereço de e-mail e sua data de nascimento vinculado à sua conta.</p>
    </ion-item>

  </ion-toolbar>

  <ion-toolbar>
    <ion-item>
      <ion-input fill="solid" placeholder="E-mail" type="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input fill="solid" placeholder="Data de nascimento" type="date"></ion-input>
    </ion-item>

  </ion-toolbar>

  <ion-toolbar>
    <ion-button class="secondary" expand="block" href="/recsenha">Enviar código</ion-button>
  </ion-toolbar>
  
  <ion-toolbar class="number-code">
  <ion-buttons class="numbers">
    <ion-button>1</ion-button>
    <ion-button>2</ion-button>
    <ion-button>3</ion-button>
    <ion-button>4</ion-button>
    <ion-button>5</ion-button>
  </ion-buttons>
  </ion-toolbar>

<ion-item class="text-register">
  <p>Lembrou da senha?</p><a href="/login">Entre agora</a>
  </ion-item>


</ion-content>