/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */   
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import '@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

@import url('https://fonts.googleapis.com/css2?family=Spline+Sans:wght@300;400;500;600;700&family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Urbanist', sans-serif !important;
}

ion-toolbar {
    --background: white !important;
}

ion-content {
    --padding-top: 20% !important;
    --padding-bottom: 20% !important;
    --padding-start: 5% !important;
    --padding-end: 5% !important;
}

h1, a {
    color: #404041;
}

ion-input {
    --border-width: 0;
    --highlight-color-focused: none !important;
    border-radius: 8px !important;
    border: 1px solid #e8ecf4 !important;
    --background: #f7f8f9 !important;
    --border-color: #f7f8f9 !important;
    --padding-start: 16px !important;
}

ion-item {
    --padding-start: 0 !important;
    --inner-padding-end: 0 !important;
    --inner-border-width: 0 !important;
}

.primary {
    --background: #35c2c1 !important;
    }

.secondary {
    --background: #1E232C !important;
}

    ion-button {
        --border-radius: 8px !important;
    }


    ion-modal#example-modal {
        --width: fit-content;
        --min-width: 250px;
        --height: fit-content;
        --border-radius: 6px;
        --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
      }
      
      ion-modal#example-modal h1 {
        margin: 20px 20px 10px 20px;
      }
      
      ion-modal#example-modal ion-icon {
        margin-right: 6px;
      
        width: 48px;
        height: 48px;
      
        padding: 4px 0;
      
        color: #aaaaaa;
      }
      
      ion-modal#example-modal .window {
        width: 300px;
        height: 460px;
        border-radius: 16px;
      }
      